html{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.boxlogin{
	border-radius: 4px; /*bordes redondeados*/
	margin: 100px auto;
	width: 380px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 19px;
}

input[type="submit"]{
	margin-top: 16px;
}

.firstMsg{
	font-size: 26px;
	font-family: sans-serif;
}

.brand{
	font-size: 26px;
	font-family: sans-serif;
}

.footer{
	background-color: #f5f5f5;
}
.error{color: #FF0000;}

.navbar {
	border-radius: 0;
}

.who {
	background-color: #eeeeee;
  padding: 12px;
  color: #0b7de0;
  text-align: center;
}

.profile {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 12%;
}

.bio {
	float: left;
  margin: 4%;
}

.map {
	width: 300px;
	height: 300px;
	margin-top: 17%;
  margin-left: 12%;
}
